:root {
  --blue: #7ad9f6;
  --gray: #f7f7f7;
  --dark-gray: #707a76;
  --transparent-gray: #3d3d4277;
  --transparent: transparent;
  --black: #2f3336;
  --green: #a5e058;
  --pink: #e36a7c;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--gray);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--black);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: 98svw;
}

.container {
  width: 99%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  margin: 20px 0;
  box-shadow: 0 10px 30px -10px var(--transparent-gray);
}

header {
  color: var(--white);
  display: flex;
  gap: 15px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section {
  position: relative;
  background-color: var(--white);
  padding: 50px 0;
}

.decor {
  position: absolute;
  background-color: var(--pink);
  height: 150%;
  left: -100%;
  right: -100%;
  bottom: 85%;
  transform: skewY(-3deg);
  z-index: -1;
}

.img-container {
  width: 150px;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: cover;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

h3 {
  color: var(--dark-gray);
  margin-right: 40px;
}

ol {
  counter-reset: section;
  list-style: none;
}

li {
  margin: 20px 0;
  counter-increment: section;
  position: relative;
}

li::before {
  position: absolute;
  content: counter(section);
  border: 1px solid var(--dark-gray);
  color: var(--black);
  width: 28px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: larger;
  top: 65px;
  left: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

span {
  padding: 5px;
  aspect-ratio: 1/1;
}
