:root {
  --white: #ffffff;
  --transparent-gray: #85868f77;
  --transparent: transparent;
  --gray: #686a6b;
  --black: #151328;
  --light-gray: #f0eef3;
  --pink: #e61d63;
  --dark-pink: #b6325c;
  --purple: #501559;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--purple);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: var(--black);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  width: 80lvw;
}

.container {
  width: 100%;
  max-height: 90svh;
  display: flex;
  gap: 25px;
  background-color: var(--white);
  box-shadow: 0 10px 40px -3px rgba(72, 72, 72, 0.439);
  border-radius: 15px;
  padding: 50px;
}
h1 {
  width: 20%;
}

section {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
}

section::-webkit-scrollbar {
  display: none;
}

.question-container {
  border: 2px solid var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}

button {
  padding: 24px 16px;
  border-radius: 50%;
  margin: 10px;
  background-color: var(--light-gray);
  border: none;
  color: var(--pink);
  cursor: pointer;
}

.response {
  display: none;
}

.open {
  display: block;
}

@media (max-width: 1500px) {
  .container {
    flex-direction: column;
  }
  h1,
  section {
    width: 100%;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 16px;
  }
  .center {
    width: 100%;
  }
  .container {
    padding: 5px;
  }
}
