:root {
  --blue: #3981ba;
  --dark-blue: #1e3061;
  --teal: #38b2b0;
  --semi-transparent: #eff1f385;
  --white: #ffffff;
  --transparent: transparent;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, var(--white) 50%, var(--teal) 50% 100%);
  font-size: 18px;
  color: var(--blue);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100lvh;
  width: 80lvw;
}

.blog {
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 10px 20px -8px var(--dark-blue);
  overflow: hidden;
}

section {
  position: relative;
  overflow: hidden;
  padding: 50px;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon {
  position: absolute;
  top: 50px;
}

.back {
  left: 50px;
  color: var(--white);
}
.save {
  right: 50px;
  color: #c0d6df;
}

h1 {
  width: 80%;
  margin: 0;
  font-size: 34px;
}

section p {
  color: var(--teal);
}

article {
  position: relative;
}

article p {
  height: 11em;
  overflow-y: scroll;
  scrollbar-width: none;
  color: rgb(10, 87, 77);
  margin-bottom: 0;
}

article p::-webkit-scrollbar {
  display: none;
}

article p::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  height: 25%;
  bottom: 0px;
  background: linear-gradient(
    180deg,
    rgba(139, 167, 32, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  pointer-events: none;
}
