* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f7fbff;
  font-size: 18px;
  background-image: linear-gradient(135deg, #90c8f1, #716ff8);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100lvh;
  width: 50lvw;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: content-box;
  padding: 10%;
  overflow: hidden;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: -20px -20px 1px 5px #b9c7ef61;
}

h1 {
  margin-top: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph-options {
  background-color: #eff1ff;
  height: 4rem;
  border-radius: 50px;
  display: flex;
  flex-basis: 50%;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 25px;
  height: 3rem;
  width: 7rem;
  margin: 2%;
}

button:hover {
  background-image: linear-gradient(135deg, #90c8f1, #716ff8);
  color: white;
  border: 2px solid black;
}

.selected-button {
  background-image: linear-gradient(135deg, #90c8f1, #716ff8);
  color: white;
}

img {
  display: none;
}

.selected-img {
  display: block;
  height: 70%;
}

.icon {
  flex-basis: 10%;
}
