:root {
  --white: #ffffff;
  --transparent-gray: #85868f77;
  --transparent: transparent;
  --gray: #686a6b;
  --black: #151328;
  --off-white: #d6ecff;
  --blue: #297aff;
  --dark-blue: #1049a7;
  --light-blue: #a5c2f6;
  --darker-blue: #1049a7;
  --medium-blue: #1b66dc;
}

* {
  box-sizing: border-box;
}

body {
  background-image: repeating-linear-gradient(
    to left,
    var(--dark-blue),
    var(--blue)
  );
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: var(--darker-blue);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  width: 60lvw;
}

.container {
  width: 100%;
  max-height: 90svh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 40px -3px rgba(72, 72, 72, 0.439);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  background-image: repeating-linear-gradient(
    to right,
    var(--darker-blue),
    var(--medium-blue)
  );
}

.flex {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}

h1 {
  justify-self: center;
}

.input-container {
  position: relative;
  width: 90%;
}

input {
  width: 100%;
  padding: 1.5rem 4rem;
  background-color: #bdbfc22f;
  color: var(--white);
  border-radius: 50px;
  margin: 15px 0;
  border: none;
  font-size: 16px;
}
input::placeholder {
  color: var(--light-blue);
}

span {
  position: absolute;
  top: 40%;
  left: 1.5rem;
  color: var(--light-blue);
}

section {
  display: flex;
  flex-direction: column;
  background-color: var(--off-white);
}

.profile {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.img-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 7px solid var(--light-blue);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  padding: 1rem 2rem;
  border-radius: 25px;
  border: none;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
}

section button,
.following:hover {
  background-image: repeating-linear-gradient(
    to right,
    var(--darker-blue),
    var(--blue)
  );
  box-shadow: 0 10px 40px -10px var(--darker-blue);
  font-weight: bold;
  color: var(--white);
  outline: none;
}

section button:hover,
.following {
  background-color: var(--off-white);
  background-image: none;
  color: var(--dark-blue);
  outline: 1px solid var(--dark-blue);
  box-shadow: none;
}

.flex button {
  background-color: var(--transparent);
  justify-self: start;
  margin: 10px;
  border-radius: 50%;
}

.flex button:hover {
  outline: 3px solid var(--white);
}

.name {
  font-weight: bold;
}

@media (max-width: 700px) {
  .center {
    width: 100%;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 16px;
  }
  .img-container {
    height: 70px;
    width: 70px;
  }
  button {
    font-size: 14px;
    padding: 1rem 1rem;
  }
}
