:root {
  --off-gray: #f6f8ff;
  --purple: #ecbdfe;
  --blue: #aff2f7;
  --yellow: #ffddb7;
  --transparent: transparent;
  --semi-transparent: #eff1f385;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f9fbfc;

  font-size: 18px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100lvh;
  width: 70lvw;
}

.flex-even-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
}

/* graph */

.canvas-wrapper {
  position: relative;
  width: 600px;
}

.canvas-buttons {
  position: absolute;
  top: 90%;
  bottom: 0;
  background-color: #dee0f6;
  border-radius: 5px;
}

.canvas-buttons button {
  font-size: 18px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

/* slider */

.slider {
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  cursor: pointer;
  z-index: 2;
  margin: 0;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
  z-index: 2;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
  z-index: 2;
}

.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3d3d3;
  border-radius: 5px;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  background-color: #04aa6d;
  border-radius: 5px;
}

.value-display {
  position: absolute;
  top: -600%;
  left: 46%;
  padding: 16px 20px;
  background-color: white;
  box-shadow: 0 3px 3px 2px rgb(205, 205, 205);
  border-radius: 5px;
}

/* progress bar and some of the smaller ones */

.border {
  position: relative;
  width: 100%;
  border-radius: 50px;
  height: 4rem;
  background-color: #d3d3d3;
  border: 5px solid #d3d3d3;
  margin-left: 3%;
}

.progress-bar {
  height: 100%;
  width: 17%;
  border-radius: 50px;
  border: 5px solid #141d4c;
  background-image: repeating-linear-gradient(135deg, #2c398e 3%, #141d4c 6%);
}

.percentage-display {
  position: absolute;
  top: 0;
  right: 83%;
  bottom: 0;
  border-radius: 50px;
  background-color: #141d4c;
  padding: 2% 2%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  width: 30%;
  margin: 50px;
  padding: 2%;
  border-radius: 15px;
  border: none;
  background-color: #141d4c;
  color: white;
}

button:hover {
  background-color: #2c398e;
  font-weight: bolder;
}

/* smaller progress bar */

.small {
  border: none;
  height: 1rem;
  background-image: none;
}

.forty {
  background-color: #141d4c;
  width: 40%;
}

.eighty {
  background-color: #e77278;
  width: 80%;
}

.gigs {
  position: absolute;
  top: -200%;
  right: 0;
  padding: 1%;
  font-size: 16px;
}
