:root {
  --dark-gray: #5b6978;
  --white: #ffffff;
  --black: #10121a;
  --purple: #a078f2;
  --tan: #fcf6ed;
  --gray: #f4f8f9;
  --orange: #eb7f00;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--white);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: 98svw;
}

.container {
  position: relative;
  width: 99%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
  border-radius: 10px;
  gap: 20px;
}

footer {
  position: relative;
  width: 100%;
  background: url("https://icodethis.com/images/iCodeMas/footer_bg.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* padding-left: 50px; */
  /* overflow: hidden; */
}

.decor {
  position: absolute;
  right: 0;
  top: auto;
  bottom: -5px;
}

img {
  object-fit: cover;
}

.flex-col {
  display: flex;
  flex-direction: column;
  /* width: 20%; */
  /* min-width: 150px; */
  margin: auto;
  z-index: 1;
}

a {
  color: var(--white);
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
