:root {
  --blue: #6697da;
  --dark-blue: #1a192e;
  --transparent-gray: #85868f77;
  --transparent: transparent;
  --black: #151424;
  --orange: #d24100;
  --green: #217750;
  --pink: #e9124c;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100svh;
  background-color: var(--dark-blue);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--white);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: 99svw;
}

.container,
form {
  position: relative;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  background-color: var(--black);
  text-align: center;
}

form {
  display: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.card {
  position: relative;
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
  border-radius: 15px;
}

.img-container {
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

.add {
  color: var(--blue);
  cursor: pointer;
}

span {
  font-size: 42px;
  border: 2px solid var(--blue);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
input[type="reset"],
input[type="submit"] {
  color: var(--blue);
  border: 1px solid var(--blue);
  background-color: var(--black);
  padding: 1rem 3rem;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin: 0px 10px;
}

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: var(--blue);
  color: var(--black);
}

input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.card input[type="radio"]:checked + .img-container {
  outline: 5px solid var(--blue);
}

input[type="text"] {
  border-radius: 25px;
  border: 2px solid var(--blue);
  padding: 1rem 2rem;
  font-size: 14px;
}

@media (min-width: 650px) {
  body {
    font-size: 18px;
  }
  .center {
    justify-content: center;
  }
}
