* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f8f6f7;
  font-size: 18px;
  color: black;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100lvh;
  width: 40lvw;
}

.requests {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  min-width: 323px;
  padding: 5%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 5px -3px #ff7675, 0 16px 20px 0px rgb(218, 218, 218);
  position: relative;
  overflow: hidden;
}

.top-image {
  position: absolute;
  display: block;
  top: -10%;
  left: 50%;
  right: -20%;
  bottom: 50%;
  background-image: linear-gradient(360deg, #ff7675, #ff9645);
  transform: rotate(30deg);
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 25% 0 15% 30%;
}

.bottom-image {
  position: absolute;
  display: block;
  background-image: linear-gradient(180deg, #ff7675, #ff9645);
  top: 90%;
  left: -30%;
  right: 50%;
  bottom: -90%;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 50% 50% 15% 30%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 10;
}

header button {
  font-size: medium;
  background-color: transparent;
  color: white;
}

header button:hover {
  background-color: white;
  color: #ff7675;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3%;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
}

.potential-friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-info {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.friend-info p {
  margin: 0;
}

.friend-info p:first-child {
  font-weight: bold;
}

img {
  background-color: #7d93dd;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  border: none;
}

section button {
  margin: 6px;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px 1px gray;
}

section button:hover {
  background-color: #bababa;
  border: 2px solid black;
  box-shadow: none;
}

button {
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
}
