:root {
  --off-white: #f6f8fc;
  --blue: #6685fe;
  --gray: #f5f6fd;
  --dark-gray: #858585;
  --transparent-gray: #3d3d4288;
  --transparent-white: #ffffffde;
  --transparent: transparent;
  --black: #1a1c38;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--white);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: 100svw;
}

.container {
  position: relative;
  width: 98%;
  max-width: 1038px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
  border-radius: 10px;
}

header,
section,
footer {
  width: 100%;
  padding: 20px;
}

header {
  grid-area: header;
}

section {
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  grid-area: section;
}

article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  text-align: center;
  grid-area: footer;
}

a {
  color: var(--blue);
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-left: -1rem;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--white);
  color: var(--black);
  padding: 1rem 2rem;
  border-radius: 25px;
  border: 2px solid var(--white);
  font-size: 16px;
}

button:hover {
  background-color: var(--black);
  color: var(--white);
}

@media (min-width: 800px) {
  body,
  button {
    font-size: 18px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header section"
      "footer footer";
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 50px;
  }

  footer {
    padding: 50px;
  }

  header {
    align-self: flex-start;
    padding-top: 50px;
  }

  .center {
    justify-content: center;
  }
}
