:root {
  --light-gray: #f2f5ff;
  --white: #ffffff;
  --transparent: transparent;
  --gray: #9ea0a6;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
  font-size: 18px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100lvh;
  width: 70lvw;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3%;
  border-radius: 10px;
  background-color: var(--transparent);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

section {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.button {
  width: 100%;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 1px 1px #e0e9fe;
  background-color: var(--white);
  margin: 4px;
  padding: 3%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 10%;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}

.button:hover {
  box-shadow: 0px 3px 20px -10px gray;
}

.icon {
  color: var(--gray);
}
