:root {
  --light-gray: #c0c3cc;
  --white: #ffffff;
  --transparent: transparent;
  --blue: #1d2333;
  --dark-blue: #1f223c;
  --black: black;
  --pink: #e43070;
  --yellow: #ffb700;
  --light-blue: #272b4a;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: var(--blue);
  padding: 100px;
  padding-right: 50px;
}

.profile {
  height: 100svh;
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-areas:
    "header    nav"
    "portfolio ."
    "footer    .";
}

.profile > * {
  background-color: var(--white);
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 30% 22% 24% 24%;
  grid-template-rows: 25% 75%;
  grid-template-areas:
    "profile-pic intro icons follow"
    "profile-pic about about skills";
  padding-top: 25px;
  padding-left: 75px;
  padding-right: 75px;
  position: relative;
}

.profile-pic {
  position: absolute;
  grid-area: profile-pic;
  display: flex;
  top: -50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.intro {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid var(--light-gray);
  padding-left: 10px;
}
.intro h2 {
  margin: 0;
}

.intro p {
  margin-top: 0;
}

.icons {
  grid-area: icons;
  display: flex;
  justify-content: space-evenly;
  border-left: 2px solid var(--light-gray);
  border-right: 2px solid var(--light-gray);
  border-bottom: 2px solid var(--light-gray);
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow {
  grid-area: follow;
  border-bottom: 2px solid var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile nav {
  position: sticky;
  top: 0;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--light-gray);
  padding: 0;
  width: 50px;
  height: 300px;
}

nav span {
  text-align: center;
  width: 100%;
  padding: 25px 0;
  cursor: pointer;
}

nav span:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

.about {
  grid-area: about;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 80%;
}

.skills-container {
  grid-area: skills;
  margin-left: 20px;
}

.skill-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  grid-template-areas: "skill borders";
  justify-items: center;
  align-items: center;
}

.skill {
  grid-area: skill;
  font-size: 14px;
}

.portfolio {
  grid-area: portfolio;
  padding: 0 75px;
}

.portfolio-container {
  display: grid;
  grid-template-columns: 32% 37% 30%;
  grid-template-areas: "column-one column-two column-three";
  column-gap: 10px;
}

.column-one {
  grid-area: column-one;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 59%;
  row-gap: 10px;
}

.column-two {
  grid-area: column-two;
  display: grid;
  grid-template-columns: 57% 40%;
  grid-template-rows: 30% 48% 20%;
  grid-template-areas:
    "first first"
    "second third"
    "fourth third";
  row-gap: 10px;
  column-gap: 10px;
}

.first {
  grid-area: first;
}

.second {
  grid-area: second;
}

.third {
  grid-area: third;
}

.fourth {
  grid-area: fourth;
}

.column-three {
  grid-area: column-three;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35% 65%;
  row-gap: 10px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 25px 75px;
}

.profile-pic img {
  width: 90%;
  box-shadow: 0 10px 20px -4px gray;
}

button {
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  background-color: var(--light-gray);
  color: var(--blue);
}

button:hover {
  background-color: var(--yellow);
  color: var(--white);
}

.follow button {
  background-color: var(--yellow);
  color: var(--white);
}

.follow button:hover {
  background-color: var(--light-gray);
  color: var(--blue);
}

.border {
  grid-area: borders;
  width: 70%;
  height: 3px;
  border-radius: 25px;
  background-color: var(--light-gray);
}

.percentage-display {
  position: relative;
  height: 100%;
  border-radius: 25px;
  background-color: var(--dark-blue);
  box-shadow: 0 10px 20px -6px rgba(31, 27, 27, 0.639);
}

.circle {
  position: absolute;
  top: -4.5px;
  right: -6px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

.equipment {
  width: 75%;
}

.editing {
  width: 55%;
}

.marketing {
  width: 35%;
}

.retouching {
  width: 90%;
}

.fa-heart:hover {
  cursor: pointer;
  color: var(--pink);
}

@media (max-width: 1190px) {
  body {
    padding: 50px;
    padding-right: 25px;
  }
  header {
    padding-left: 25px;
    padding-right: 25px;
  }

  .portfolio {
    padding: 0 25px;
  }

  footer {
    padding-right: 25px;
  }
}

@media (max-width: 965px) {
  .profile {
    height: 100%;
    grid-template-columns: 1fr 50px;
    grid-template-areas:
      "header    nav"
      "portfolio ."
      "footer    .";
  }

  header {
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: auto;
    grid-template-areas:
      "profile-pic intro follow"
      "profile-pic icons icons"
      "about about skills ";
  }

  .icons {
    border: none;
    padding-top: 25px;
    border-bottom: 2px solid var(--light-gray);
  }

  .intro {
    border-right: 2px solid var(--light-gray);
  }
  .skills-container {
    margin-left: -20px;
  }

  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "column-one column-two"
      "column-three column-three";
    row-gap: 10px;
  }

  .column-three {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
  }
}

@media (max-width: 690px) {
  body {
    padding: 10px;
    padding-right: 0;
  }
  header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas:
      "profile-pic intro"
      "follow icons"
      "about about"
      "skills skills";
  }

  .intro {
    border: none;
    border-bottom: 2px solid var(--light-gray);
  }
  .skills-container {
    border-top: 2px solid var(--light-gray);
  }

  .skills-container {
    margin-left: 10px;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "column-one"
      "column-two"
      "column-three";
    row-gap: 10px;
  }

  .column-three {
    grid-template-columns: 1fr;
    grid-template-rows: 35% 65%;
  }
}

@media (max-width: 500px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "header"
      "portfolio"
      "footer";
  }

  .profile nav {
    flex-direction: row;
    width: 100%;
    height: 50px;
  }
  header {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "profile-pic"
      "intro"
      "follow"
      "icons"
      "about"
      "skills";
    padding-top: 20px;
  }

  .profile-pic {
    position: relative;
    top: 20px;
    bottom: 50px;
  }

  .profile-pic img {
    width: 100%;
    height: 90%;
  }

  .follow {
    padding: 20px 0;
  }
}
