:root {
  --dark-blue: #322a62;
  --blue: #36306d;
  --light-blue: #6559a6;
  --purple: #574280;
  --light-purple: #634e89;
  --gray: #a3a7c8;
  --transparent-gray: #ffffff32;
  --transparent-white: #ffffff76;
  --transparent: transparent;
  --black: #22252f;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--dark-blue);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--white);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: 100svw;
}

.container {
  position: relative;
  width: 98%;
  min-width: 180px;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 30px;
  padding: 20px;
  background-image: radial-gradient(
    circle at 90% 0%,
    var(--light-blue),
    var(--purple) 50%
  );
}

section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  max-width: 350px;
  margin: auto;
}

section:last-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
}

section div {
  padding: 10px;
  height: 100%;
}

.border-bottom {
  border-bottom: 1px solid var(--transparent-gray);
}

.border-top {
  border-top: 1px solid var(--transparent-gray);
}

.border-right {
  border-right: 1px solid var(--transparent-gray);
}

.border-left {
  border-left: 1px solid var(--transparent-gray);
}

section div p:first-of-type {
  font-size: 36px;
  font-weight: bold;
}

section div p:last-of-type {
  font-size: 11px;
  color: var(--transparent-white);
}

button {
  background-color: var(--light-purple);
  color: var(--white);
  font-size: 16px;
  border: 2px solid var(--light-purple);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 20px;
}

.decor {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: 20px;
  right: 20px;
  background-color: var(--blue);
  z-index: -1;
}

@media (min-width: 600px) {
  body,
  button {
    font-size: 18px;
  }
  .center {
    justify-content: center;
  }

  .container {
    padding: 75px;
    flex-wrap: nowrap;
  }

  section div {
    padding: 20px;
  }

  section div p:first-of-type {
    font-size: 40px;
  }

  button {
    padding: 1rem 2rem;
  }
}
