:root {
  --light-gray: #b8bbc1;
  --white: #ffffff;
  --transparent: transparent;
  --light-purple: #947fe3;
  --purple: #6952f9;
  --dark-purple: #322d75;
  --black: #1c1a36;

  --light-blue: #272b4a;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    135deg,
    var(--light-purple),
    var(--dark-purple)
  );
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--white);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  width: 70lvw;
}

.profiles-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.profile-image {
  position: relative;
  cursor: pointer;
  border: 10px solid var(--light-purple);
  margin: 50px;
  border-radius: 50%;
}

.image-container {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: cover;
  color: var(--black);
}

.tooltip {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: var(--black);
  border-radius: 10px;
  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 125%;
  height: 115%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.tooltip .image-container {
  margin: 25px;
  height: 130px;
  width: 130px;
}

.arrow {
  position: absolute;
  display: none;
  font-size: 72px;
  width: 100%;
}

.down {
  justify-content: center;
  color: var(--white);
  bottom: 110%;
  left: 0;
  right: 0;
}

.right {
  justify-content: end;
  color: var(--black);
  bottom: 15%;
  right: 113%;
}

.up {
  bottom: 120%;
  left: -150%;
  right: -150%;
  background-color: var(--white);
  color: var(--black);
}

.left {
  right: 125%;
  left: -250%;
  bottom: -110%;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up .profile {
  flex-direction: row;
  justify-content: space-evenly;
}

.left .profile p {
  color: var(--light-gray);
}

h2 {
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
}

button {
  padding: 1rem 3rem;
  background-color: var(--purple);
  color: var(--white);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 8px 10px -5px var(--purple);
}

.left button {
  box-shadow: 0 8px 5px -1px #0e0e1c;
}

button:hover {
  background-color: var(--dark-purple);
}

.up button:hover {
  background-color: var(--light-purple);
  color: var(--black);
}

a {
  color: var(--purple);
  text-decoration: none;
}

.profile-image:hover .tooltip,
.profile-image:hover .arrow,
.tooltip:hover,
.arrow:hover {
  display: flex;
}

.active {
  display: flex;
}

@media (max-width: 680px) {
  .center {
    width: 100%;
  }

  .profiles-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-image:last-of-type {
    margin-top: 200px;
    align-self: flex-end;
  }
}

@media (max-width: 450px) {
  body {
    font-size: 14px;
  }
  .center {
    height: 100%;
  }

  .profile-image:first-of-type {
    margin-top: 400px;
  }

  .tooltip .image-container {
    margin: 5px;
    height: 80px;
    width: 80px;
  }
  button {
    padding: 5px 15px;
  }
  .up {
    left: -70%;
    right: -70%;
  }
}
