:root {
  --light-gray: #f3f6fa;
  --blue: #5c8aa0;
  --med-gray: #b7bebe;
  --gray: #475e6e;
  --off-black: #21222b;
  --white: #ffffff;
  --pink: #f23f78;
  --dark-pink: #db3869;
  --transparent-gray: #82909ba5;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
  color: var(--gray);
  font-size: 22px;
}

header {
  position: relative;
  padding: 3%;
  background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bW92aWV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60);
  background-position: 0% 40%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

section {
  padding: 3%;
}

footer {
  background-color: var(--dark-pink);
  color: var(--white);
  display: flex;
  align-items: center;
}

h1 {
  margin-top: 0;
  font-size: 24px;
}

header p,
footer p,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
  border-radius: 20px;
  font-size: 22px;
  border: none;
}

header button {
  background-color: transparent;
  color: white;
  padding: 5px 10px;
}

header button:hover {
  outline: 3px solid var(--white);
}

footer button {
  background-color: var(--white);
  color: var(--gray);
  padding: 1rem 2rem;
}

footer button:hover {
  background-color: var(--gray);
  color: var(--white);
  outline: 3px solid var(--white);
}

ol {
  list-style-type: upper-alpha;
  color: var(--med-gray);
  padding: 3%;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
  padding-left: 5px;
}
li {
  position: relative;
}

input[type="checkbox"] {
  opacity: 0;
  z-index: 100;
}

label {
  display: inline-block;
  padding: 10px 10px;
  color: var(--blue);
}

li input {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

li input[type="checkbox"]:checked + label {
  color: var(--pink);
}

li input[type="checkbox"]:disabled + label {
  color: var(--med-gray);
}

li input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  width: 50lvw;
}

.ticket {
  width: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 50px 100px 10px var(--transparent-gray);
}

.flex {
  display: flex;
}

.even {
  justify-content: space-evenly;
}

.between {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--pink);
  padding: 3%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 80px;
}

.screen {
  align-self: center;
  text-align: center;
  border-radius: 25%;
  border-bottom: 3px solid var(--gray);
  box-shadow: inset 0 -10px 10px -10px var(--transparent-gray);
  padding-bottom: 0;
  margin-bottom: 3%;
  width: 90%;
  color: var(--med-gray);
}

.available {
  color: var(--blue);
}

.booked {
  color: var(--med-gray);
}

.selected {
  color: var(--pink);
}

.titles {
  padding: 3%;
}

@media (max-width: 1100px) {
  .center {
    width: 70lvw;
  }
}

@media (max-width: 750px) {
  body {
    font-size: 16px;
  }
  label {
    padding: 5px;
    font-size: 16px;
  }
  footer button {
    padding: 1rem 1rem;
    font-size: 16px;
  }
  .center {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 12px;
  }
  label {
    padding: 2px;
    font-size: 12px;
  }
  footer button {
    padding: 1rem 1rem;
    font-size: 12px;
  }
}
