:root {
  --white: #ffffff;
  --transparent-gray: #85868f77;
  --transparent: transparent;
  --black: #131627;
  --lavender-pink: #de6db0;
  --orange-pink: #ff5a61;
  --light-gray: #e8eaec;
  --gray: #6d8186;
}

* {
  box-sizing: border-box;
}

body {
  height: 100svh;
  background-image: linear-gradient(180deg, var(--black) 50%, var(--white) 50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--white);
  display: flex;
  justify-content: center;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  width: 80lvw;
}

.container {
  width: 100%;
  max-height: 90svh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  padding: 50px;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  background-image: linear-gradient(
    to right,
    var(--orange-pink),
    var(--lavender-pink)
  );
  padding: 50px 20%;
  border-radius: 15px;
  text-align: center;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: center;
}

h1 {
  margin: 0;
}

p {
  margin-top: 0;
}

input[type="email"] {
  background-color: var(--transparent);
  color: var(--white);
  border: 1px solid var(--white);
  border-right: none;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 80%;
  font-size: 16px;
}

input[type="email"]::placeholder {
  color: var(--white);
}

input[type="submit"] {
  background-color: var(white);
  color: var(--black);
  border: 1px solid var(--white);
  padding: 1rem 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 16px;

  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--transparent);
  color: var(--white);
}

@media (max-width: 800px) {
  .center {
    width: 100%;
  }
  .container {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .flex {
    flex-direction: column;
    gap: 15px;
  }

  input[type="email"] {
    width: 100%;
    border: 1px solid var(--white);
    border-radius: 10px;
  }

  input[type="submit"] {
    border-radius: 10px;
  }

  section {
    padding: 50px 20px;
  }
}
