* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e0e0e0;
  color: #14143b;
  font-size: 18px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100lvh;
  width: 70lvw;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 504px;
  border-radius: 10px;
  padding: 3%;
  background-color: #fffbf3;
  box-shadow: 0 10px 20px 4px rgba(152, 185, 189, 0.437);
}
