:root {
  --lighter-gray: #f1f4f5;
  --white: #ffffff;
  --transparent-gray: #85868f77;
  --transparent: transparent;
  --gray: #686a6b;
  --light-blue: #919cff;
  --yellow: #fff23a;
  --blue: #3dd9eb;
  --green: #6bc782;
  --off-white: #f3f6f8;
  --light-gray: #a9aab4;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(45deg, var(--green), var(--gray));
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: var(--white);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  width: 70lvw;
}

.calendar {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  background-color: var(--transparent-gray);
  box-shadow: 0 10px 40px -3px rgba(72, 72, 72, 0.439);
  overflow: hidden;
}

form {
  width: 100%;
  max-width: 700px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--transparent-gray);
  box-shadow: 0 10px 40px -3px rgba(72, 72, 72, 0.439);
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--off-white);
  padding: 20px;
  gap: 5px;
}

section {
  padding: 20px;
}

.dates-container {
  padding-top: 0;
}

.events {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0;
  background-color: var(--white);
}
.events::-webkit-scrollbar {
  display: none;
}

.days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  justify-items: center;
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

ol {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.events ol {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.events li {
  height: auto;
  width: auto;
  border-radius: 0;
  width: 100%;
  justify-content: start;
  align-items: stretch;
  text-align: start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--gray);
}

h3 {
  margin-top: 15px;
  margin-bottom: 0;
}
.events p {
  margin-top: 5px;
  margin-bottom: 15px;
}

.dates li {
  cursor: pointer;
}

button {
  background-color: var(--transparent);
  padding: 0.5rem;
  cursor: pointer;
  font-size: 18px;
  border: none;
  color: var(--gray);
}

button:hover {
  color: var(--blue);
}

li button {
  background-color: var(--lighter-gray);
  padding: 2rem;
  margin-right: 10px;
}

li button:hover {
  color: var(--blue);
}

input[type="month"] {
  background-color: var(--transparent);
  color: var(--gray);
  border: none;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: end;
  background-color: var(--white);
}

footer button {
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
  padding-left: 3rem;
  padding-top: 3rem;
  border-top-left-radius: 100%;
}

footer button:hover {
  color: var(--gray);
}

form footer {
  background-color: var(--transparent);
  justify-content: space-evenly;
  margin: 10px 0;
  width: 90%;
  gap: 5px;
}

input[type="text"],
input[type="datetime-local"] {
  padding: 1rem;
  font-size: 18px;
  width: 90%;
  border-radius: 5px;
  border: none;
  color: var(--gray);
}
input[type="time"] {
  width: max-content;
}

input[type="submit"],
input[type="reset"] {
  background-color: var(--white);
  color: var(--gray);
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"] {
  background-color: var(--blue);
  color: white;
}

input[type="reset"]:hover {
  background-color: var(--gray);
  color: var(--white);
}

input[type="submit"]:hover {
  background-color: var(--transparent);
  color: var(--blue);
  outline: 2px solid var(--blue);
}

input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
  accent-color: var(--green);
  cursor: pointer;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

.flex {
  display: flex;
  align-items: center;
}

.inactive {
  color: var(--light-gray);
}

.today {
  background-color: var(--yellow);
  color: var(--gray);
}

.selected {
  background-color: var(--blue);
  color: var(--gray);
}

.has-alarm {
  color: var(--green);
}

.active {
  visibility: visible;
  cursor: pointer;
}

button:hover .fa-circle-check {
  color: var(--gray);
}

@media (max-width: 500px) {
  .center {
    width: 100%;
  }
}

@media (max-width: 340px) {
  body {
    font-size: 16px;
  }

  li {
    height: 1.5rem;
    width: 1.5rem;
  }
  input {
    font-size: 16px;
  }
}
