:root {
  --light-blue: #41c9e4;
  --lighter-blue: #87d3ed;
  --blue: #4490e4;
  --gray: #f7f7f7;
  --dark-gray: #eff1f7;
  --transparent-gray: #3d3d4277;
  --transparent: transparent;
  --black: #16142d;
  --green: green;
  --red: red;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--white);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: 98svw;
}

.container {
  width: 99%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  margin: 20px 0;
}

header {
  display: flex;
  justify-content: end;
  gap: 15px;
}

.menu {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, var(--light-blue), var(--blue));
  color: var(--black);
  padding: 20px;
  border-radius: 15px;
}
