:root {
  --light-gray: #c0c3cc;
  --white: #ffffff;
  --transparent: transparent;
  --green: #03c956;
  --blue: #89b4e3;
  --black: #262e3a;
  --light-black: #303948;
  --orange: #ff5624;
  --light-orange: #fca48a;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--white);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  width: 70lvw;
}

.component-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 15px;
  box-shadow: 0 5px 30px -2px black;
  overflow: hidden;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}

span {
  position: absolute;
  left: 20px;
}

img {
  object-fit: cover;
  width: 100%;
}

.img-container {
  position: relative;
}

.images-button {
  position: absolute;
  right: 30px;
  bottom: 20px;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.207);
  border: none;
  color: var(--white);
  border-radius: 25px;
}

.images-button:hover {
  background-color: var(--blue);
  color: var(--white);
}

section {
  background-color: var(--black);
  padding: 15px 30px;
}

section:last-of-type {
  background-color: var(--light-black);
}

h2 {
  margin: 0;
}
p {
  margin: 0;
}

.users {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.users-pics {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 10px;
}

.profile-pic {
  margin-left: -20px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.flex-col {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.flex-col p:first-child {
  color: var(--blue);
  font-size: 16px;
}

section button {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 50px;
  margin-bottom: 50px;
  font-size: 16px;
}

section button:hover {
  background-color: var(--black);
  outline: 3px solid var(--blue);
}

button {
  cursor: pointer;
}

@media (max-width: 800px) {
  .center {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .users {
    flex-wrap: wrap;
  }

  .flex-col {
    margin-top: 15px;
  }
}

@media (max-width: 460px) {
  .center {
    height: 100%;
  }

  .profile-pic {
    height: 60px;
    width: 60px;
  }

  header {
    padding: 20px 0;
  }
  h1 {
    font-size: 28px;
  }
}

@media (max-width: 340px) {
  h1 {
    font-size: 18px;
  }
  span {
    font-size: 12px;
  }
  .users-pics {
    flex-wrap: wrap;
  }

  .profile-pic {
    height: 70px;
    width: 70px;
  }
}
