:root {
  --light-gray: #f8f9fd;
  --white: #ffffff;
  --transparent: transparent;
  --blue: #162240;
  --dark-blue: #0f172b;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
  height: 100lvh;
  width: 100lvw;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  background-color: var(--dark-blue);
}

img {
}

.grid {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  grid-gap: 50px;
  justify-content: space-evenly;
}

.add {
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
