* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f7fbff;
  font-size: 18px;
  color: white;
}

.circle {
  background-color: white;
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.top {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
}

.bottom {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  text-align: end;
  margin: 0;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

header p {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100lvh;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  width: 400px;
  height: 700px;
  min-height: 567px;
  padding: 0px;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 5px 12px -1px #b9c7ef, -3px 5px 12px -1px #b9c7ef;
}

.form::before {
  content: "";
  position: absolute;
  display: block;
  top: -20%;
  left: -6%;
  right: -5%;
  bottom: 75%;
  background: transparent;
  border-radius: 50px;

  box-shadow: inset 50px -80px 0px 150px #6382d6;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  font-size: 16px;
  z-index: 10;
}

img {
  background-color: #a2b6f9;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 7px solid #748ed6;
  margin: 5px;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.branch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 186px;
  color: white;
  background-color: #628cff;
  border: none;
  border-radius: 10px;
  margin: 5px;
  font-size: 18px;
  z-index: 10;
}

.branch:hover {
  background-color: #628cff;
}

.branch p {
  margin-left: 5px;
  margin-right: 5px;
}

ul button {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  height: 6em;
  background-color: transparent;
  width: 100%;
  border: none;
}

ul button:hover {
  color: #628cff;
  border-left: 5px solid #628cff;
}

ul button p {
  font-size: 24px;
  margin: 10px;
  text-align: left;
}

.icon {
  text-align: center;
  color: gray;
}

.cancel {
  color: gray;
  margin: 15px;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.cancel:hover {
  color: #628cff;
  border: 5px solid #628cff;
}
