:root {
  --light-blue: #41c9e4;
  --lighter-blue: #87d3ed;
  --blue: #4490e4;
  --tan: #f5efe6;
  --light-gray: #2f2d40;
  --gray: #3a394c;
  --transparent-gray: #3d3d4277;
  --transparent: transparent;
  --black: #282639;
  --pink: #ff686a;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--light-gray);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--white);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: 98svw;
}

.container {
  width: 99%;
  max-width: 1365px;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr 2fr;
  margin-top: 20px;
  background-color: var(--white);
  border-radius: 15px;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: var(--pink);
  padding: 10px;
}

section {
  background-color: var(--black);
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scroll-behavior: smooth;
}

section::-webkit-scrollbar {
  background-color: var(--gray);
}

footer {
  background-color: var(--gray);
  padding: 10px;
}

textarea,
.message-text {
  background-color: var(--gray);
  color: var(--white);
  padding: 1rem;
  resize: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

textarea {
  height: 100%;
  width: 100%;
}

.message-text {
  max-width: 70%;
}

.message-text p {
  overflow-wrap: break-word;
}

.images {
  max-width: 252px;
  position: relative;
  display: flex;
  gap: 25%;
  margin: auto;
}

.img-container {
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--white);
}

img {
  width: 100%;
  object-fit: cover;
}

.img-container:nth-child(odd) {
  z-index: 2;
}

header .img-container:nth-child(even) {
  position: absolute;
  top: 0;
  left: 30%;
  bottom: 0;
  z-index: 1;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: auto;
}

.message-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message-container .img-container {
  width: 60px;
  min-width: 60px;
}

a {
  color: var(--pink);
}

button,
input {
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: var(--transparent);
  border: 2px solid var(--pink);
  color: var(--pink);
  border-radius: 25px;
  margin: 10px 0;
}
input {
  padding: 0.5rem 2rem;
}

button:hover,
input:hover {
  background-color: var(--pink);
  color: var(--white);
}

.disclaimer {
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: start;
}

.chat {
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: end;
}

.visible {
  display: flex;
}

.visible-grid {
  display: grid;
}

.sent {
  flex-direction: row-reverse;
}

.chat-button {
  background-color: var(--pink);
  color: var(--white);
}

.chat-button:hover {
  background-color: var(--black);
  color: var(--pink);
}

@media (min-width: 600px) {
  .message-container .img-container {
    width: 100px;
  }

  .message-text {
    max-width: 80%;
  }
}
