:root {
  --blue: #056586;
  --tan: #f9eff0;
  --dark-gray: #7e7e7e;
  --gray: #c3c3c5;
  --transparent-gray: #3d3d4277;
  --transparent-white: #ffffffde;
  --transparent: transparent;
  --black: #191a49;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--tan);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--black);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: 98svw;
}

.container {
  width: 99%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  background-color: var(--white);
  border-radius: 15px;
  overflow: hidden;
}

section,
form {
  min-width: 260px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

section {
  background-image: url(https://images.unsplash.com/photo-1568145675395-66a2eda0c6d7?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHdhdGVyfGVufDB8fDB8fHww);
  background-size: cover;
}

input[type="email"] {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

a {
  color: var(--blue);
}

a:hover {
  text-decoration: none;
}

button[type="submit"] {
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.flex:first-of-type {
  border-bottom: 2px solid var(--gray);
}

section button {
  cursor: pointer;
  background-color: var(--transparent-white);
  color: var(--blue);
  border: none;
  padding: 0.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

section button:hover {
  background-color: var(--black);
  color: var(--white);
}

form button {
  cursor: pointer;
  padding: 0.5rem;
  width: 48%;
  border-radius: 5px;
  background-color: var(--transparent);
  border: 1px solid var(--gray);
}

form button:hover {
  border-color: var(--blue);
  color: var(--blue);
}

button[type="submit"]:hover {
  background-color: var(--white);
}

.middle {
  align-self: center;
  color: var(--dark-gray);
}

.pass {
  text-decoration: none;
}

.pass:hover {
  text-decoration: underline;
}

@media (min-width: 500px) {
  body,
  section button,
  form button,
  input[type="submit"] {
    font-size: 18px;
  }
  form button {
    padding: 1rem;
  }
}

@media (min-width: 750px) {
  .center {
    justify-content: center;
  }
  .container {
    flex-direction: row-reverse;
  }
  form {
    padding: 50px;
    gap: 20px;
  }
  section {
    width: 40%;
  }
}
