:root {
  --light-gray: #d1d6e4;
  --white: #ffffff;
  --transparent: transparent;
  --dark-blue: #0f172f;
  --blue: #213369;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
  font-size: 18px;
  color: var(--dark-blue);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "topics search"
    "main articles";
  margin: 50px;
  border-radius: 10px;
}

.container > * {
  background-color: var(--white);
  padding: 35px;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--light-gray);
  margin-bottom: 0.005rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.topics {
  grid-area: topics;
}

.search {
  grid-area: search;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  position: relative;
}

.main {
  grid-area: main;
  border-bottom-left-radius: 10px;
  padding-top: 5px;
}

.articles {
  grid-area: articles;
  padding-top: 75px;
  border-bottom-right-radius: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

article {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 25px 0;
  align-items: center;
  transition: ease-in;
}

article:hover {
  cursor: pointer;
  scale: calc(1.05);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  height: 100%;
}

img {
  object-fit: cover;
  width: 100%;
}

.main img {
  border-radius: 5px;
}

.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

article img {
  height: 100%;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

h1 {
  font-size: 42px;
  margin-top: 0;
}

button {
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 18px;
  text-align: center;
  cursor: pointer;
  color: var(--dark-blue);
  border: none;
  font-weight: bold;
}

button:hover {
  background-color: var(--dark-blue);
  color: white;
}

.rounded button {
  border-radius: 25px;
  background-color: var(--dark-blue);
  color: var(--white);
}

.rounded button:hover {
  border: 2px solid var(--light-gray);
  background-color: transparent;
  color: var(--dark-blue);
}

.rounded button:first-child {
  border: 2px solid var(--light-gray);
  background-color: transparent;
  color: var(--dark-blue);
}

.rounded button:first-child:hover {
  background-color: var(--dark-blue);
  color: var(--white);
  border: 2px solid var(--dark-blue);
}

.links {
  display: none;
}

.column {
  position: absolute;
  top: 100;
  left: 0;
  right: 0;
  bottom: -100;
}

a {
  color: var(--dark-blue);
  background-color: var(--light-gray);
  border: 1px solid white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  display: block;
}

.flex {
  display: flex;
}

.menu {
  position: relative;
}

input[type="text"] {
  border-radius: 25px;
  padding: 12px 18px;
  width: 90%;
  visibility: hidden;
}

label {
  position: absolute;
  cursor: pointer;
  right: 50px;
  border-radius: 50%;
  padding: 10px;
}

label:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

@media (max-width: 755px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main {
    border-radius: 0;
  }
  .articles {
    border-bottom-left-radius: 10px;
  }

  input[type="text"] {
    width: 100%;
  }
}

@media (max-width: 325px) {
  body {
    background-color: var(--white);
  }
}
