:root {
  --light-gray: #d1d6e4;
  --white: #ffffff;
  --transparent: transparent;
  --dark-blue: #0f172f;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
  font-size: 18px;
  color: var(--dark-blue);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "topics search"
    "main articles";
  margin: 50px;
  border-radius: 10px;
}

.container > * {
  background-color: var(--white);
  padding: 35px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--light-gray);
  margin-bottom: 0.005rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.topics {
  grid-area: topics;
}

.search {
  grid-area: search;
  text-align: right;
}

.main {
  grid-area: main;
  border-bottom-left-radius: 10px;
  padding-top: 5px;
}

.articles {
  grid-area: articles;
  padding-top: 75px;
  border-bottom-right-radius: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

article {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 25px 0;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  height: 100%;
}

img {
  object-fit: cover;
  width: 100%;
}

.main img {
  border-radius: 5px;
}

.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

article img {
  height: 100%;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

h1 {
  font-size: 42px;
  margin-top: 0;
}

button {
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 18px;
  text-align: center;
  cursor: pointer;
  color: var(--dark-blue);
  border: none;
  font-weight: bold;
}

button:hover {
  background-color: var(--dark-blue);
  color: white;
}

.rounded button {
  border-radius: 25px;
  background-color: var(--dark-blue);
  color: var(--white);
}

.rounded button:hover {
  border: 2px solid var(--light-gray);
  background-color: transparent;
  color: var(--dark-blue);
}

.rounded button:first-child {
  border: 2px solid var(--light-gray);
  background-color: transparent;
  color: var(--dark-blue);
}

.rounded button:first-child:hover {
  background-color: var(--dark-blue);
  color: var(--white);
  border: 2px solid var(--dark-blue);
}

.links {
  display: none;
}

.column {
  position: absolute;
}

a {
  color: white;
  background-color: #009ce6;
  border: 1px solid white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
