:root {
  --blue: #7ad9f6;
  --gray: #f7f7f7;
  --dark-gray: #707a76;
  --transparent-gray: #3d3d4277;
  --transparent: transparent;
  --black: #2f3336;
  --green: #a5e058;
  --pink: #e36a7c;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--gray);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--black);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: 98svw;
}

.container {
  width: 99%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  margin: 20px 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.numbers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 20px;
}

input[type="number"] {
  width: 20%;
  padding: 1rem 5px;
  font-size: 24px;
  text-align: center;
}
