:root {
  --light-gray: #e2ebed;
  --white: #ffffff;
  --transparent: transparent;
  --gray: #77919d;
  --lighter-gray: #e7ebee;
  --black: #262e3a;
  --pink: #fe6467;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--lighter-gray);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: var(--gray);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  width: 70lvw;
}

.calculator {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr;
  box-shadow: 0 10px 40px -3px rgba(112, 112, 112, 0.606);
}

header {
  background-color: var(--gray);
  color: var(--white);
  text-align: right;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.total-screen {
  font-size: 28px;
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.button {
  padding: 20px;
  background-color: var(--white);
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.operator {
  background-color: var(--light-gray);
  border-bottom: 2px solid var(--white);
  margin-bottom: -2px;
}

.operator:nth-child(-n + 3) {
  border-bottom: none;
  border-right: 2px solid var(--white);
  margin-right: -2px;
}

.button:last-child {
  border: none;
  margin-bottom: 0;
}

.button:hover {
  background-color: var(--pink);
  color: var(--white);
  margin: -5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
